<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
  <div class="row py-5">
    <div class="col-12 pt-lg-5 mt-lg-5 text-center">
      <h1 class="display-4 text-white animated zoomIn">Transfer not allowed</h1>
      <a href="#" class="h5 text-white"></a>

      <a routerLink="" class="h5 text-white"></a>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h2></h2>
      <p>Your transfer was not allowed.Please check your bank account.</p>
      <button (click)="gotoHomepage()" type="submit" class="btn btn-primary mt-3" >Go back to homepage</button>
    </div>
  </div>
</div>
