<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>MicroGrowth Admin</title>
<!-- plugins:css -->

<!-- Display the admin component -->
<div class="container-scroller">
  <div class="row justify-content-center">
    <div class="col-md-2">
      <app-dashboard-back></app-dashboard-back>
    </div>
    <div class="col-md-10 ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!-- plugins:js -->
<script src="../../../assets/Back/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="../../../assets/Back/vendors/chart.js/Chart.min.js"></script>
<script src="../../../assets/Back/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="../../../assets/Back/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="../../../assets/Back/js/dataTables.select.min.js"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../../../assets/Back/js/off-canvas.js"></script>
<script src="../../../assets/Back/js/hoverable-collapse.js"></script>
<script src="../../../assets/Back/js/template.js"></script>
<script src="../../../assets/Back/js/settings.js"></script>
<script src="../../../assets/Back/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../../../assets/Back/js/dashboard.js"></script>
<script src="../../../assets/Back/js/Chart.roundedBarCharts.js"></script>