<div class="container-fluid position-relative p-0">

  <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
      <div class="row py-5">
          <div class="col-12 pt-lg-5 mt-lg-5 text-center">
              <h1 class="display-4 text-white animated zoomIn"> Your Project</h1>

          </div>
      </div>
  </div>

  <!-- Contact Start -->
  <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="container py-5">
          <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
              <h5 class="fw-bold text-primary text-uppercase">Elevate your project to its highest potential</h5>
              <h1 class="mb-0">Please complete the following fields </h1>
          </div>
      </div>
      <div style="margin-left: 350px;">
          <div class="col-lg-8 wow slideInUp " data-wow-delay="0.3s">
              <form (ngSubmit)="saveInvestment()">
                  <div class="row g-3">
                      <div class="col-md-6">
                          <input type="text" class="form-control border-0 bg-light px-4"  name="nom" #nom="ngModel" [(ngModel)]="projet.nom" placeholder="Your project name"
                              style="height: 55px;">
                      </div>
                      <div class="col-md-6">
                        <textarea class="form-control border-0 bg-light px-4" name="description" #description="ngModel" [(ngModel)]="projet.description"
                        placeholder="a description about your project"
                            style="height: 55px "rows="3"></textarea>

                      </div>

                      <div class="col-6">
                          <input type="number" class="form-control border-0 bg-light px-4" name="obligation" #obligation="ngModel" [(ngModel)]="projet.obligation"
                          placeholder="the amount you need" style="height: 55px;">
                      </div>
                      <div class="col-6">
                          <input type="number" class="form-control border-0 bg-light px-4" name="OptionValue" #OptionValue="ngModel" [(ngModel)]="projet.optionValue"

                          placeholder="the OptionValue"style="height: 55px;">
                      </div>
                      <div class="col-md-6">
                          <input type="number" class="form-control border-0 bg-light px-4" name="quantity" #quantity="ngModel" [(ngModel)]="projet.quantity"

                          placeholder="quantity of option" style="height: 55px;">
                      </div>
                      <div class="col-md-6">
                        <input type="number" class="form-control border-0 bg-light px-4" name="tauxRendement" #tauxRendement="ngModel" [(ngModel)]="projet.tauxRendement"

                        placeholder="intrest rate "style="height: 55px;">
                    </div>
                    <div class="col-md-6">
                      <input type="number" class="form-control border-0 bg-light px-4" name="duree" #duree="ngModel" [(ngModel)]="projet.duree"

                      placeholder="duration" style="height: 55px;">
                  </div>
                      <div class="col-6">
                        <select class="form-control border-0 bg-light px-4" name="statutProjet" placeholder="the statue of the project " #statutProjet="ngModel" [(ngModel)]="projet.statutProjet" style="height: 55px">
                          <option>Brouillon </option>
                          <option>Proposé(e)</option>
                          <option>Actif/Active</option>
                          <option>Terminé(e)</option>
                        </select>
                      </div>
                      <div class="col-6">
                          <input type="text" class="form-control border-0 bg-light px-4" name="secteurActivite" #secteurActivite="ngModel" [(ngModel)]="projet.secteurActivite"
                          style="height: 55px;"  placeholder="your activity sector">
                      </div>
                      <div class="col-12">
                          <button class="btn btn-primary w-100 py-3" type="submit">Update</button>
                      </div>

                  </div>
              </form>

          </div>

      </div>
  </div>

</div>
