
<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Complaint </h1>
            <a href="#" class="h5 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a routerLink="" class="h5 text-white">Complaint </a>
        </div>
    </div>
</div>
<!-- Contact Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Contact Us</h5>
            <h1 class="mb-0">If You Have Any Query, Feel Free To Contact Us</h1>
        </div>
        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.1s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Call to ask any question</h5>
                        <h4 class="text-primary mb-0">+012 345 6789</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.4s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-envelope-open text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Email to get free quote</h5>
                        <h4 class="text-primary mb-0">info@example.com</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.8s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-map-marker-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Visit our office</h5>
                        <h4 class="text-primary mb-0">123 Street, NY, USA</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div  data-wow-delay="0.3s">
                <form #myForm="ngForm" (ngSubmit)="add()">
                    <div class="row g-3">
                       
                        
                        <div class="col-12">
                            <label>Objet</label>
                            <textarea class="form-control border-0 bg-light px-4 py-3" rows="4" placeholder="text" name="text" #text="ngModel" [(ngModel)]="complaint.subject"></textarea>
                        </div>
                        <div class="col-12">
                            <label>Text</label>
                            <textarea class="form-control border-0 bg-light px-4 py-3" rows="4" placeholder="text" name="text" #text="ngModel" [(ngModel)]="complaint.text"></textarea>
                        </div>
                        <div class="col-12">
                            <button *ngIf="!cond" class="btn btn-primary w-100 py-3" (click)="add()" type="submit">Send </button>
                            <button *ngIf="cond" class="btn btn-primary w-100 py-3" (click)="update()" type="submit">update </button>
                            
                        </div>
                    </div>
                </form>
                <table class="table table-striped">
                <ng-container *ngFor="let x of list">
                    <th>
            <div class="testimonial-item bg-light my-4">
                
                <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                   
                   <div class="ps-4">
                        <h4 class="text-primary mb-1">{{x.users.firstName}}</h4>
                        <small class="text-uppercase">{{x.text}}</small>
                    </div>
                   
                </div>
                <div class="pt-4 pb-5 px-5">
                    {{x.subject}}
                    
                   
                </div>
                
               
                <td> <button  type= "button" class="btn btn-primary" (click)="delete(x.idComplaint)"   > Delete</button></td> 
                <td> <button  type= "button" class="btn btn-primary" routerLink="/updatecomplaint/{{x.idComplaint}}" (click)="edit(x)"  > Update</button></td>    
                <td><style>
                    .button {
                        display: inline-block;
                        padding: 25px 25px;
                        font-size: 10px;
                        font-weight: bold;
                        text-align: right;
                        text-decoration: none;
                        border-radius: 5px;
                        color: #fff;
                    }
                    
                    .satisfied {
                        background-color: #28a745;
                        border: none;
                    }
                    
                    .unsatisfied {
                        background-color: #dc3545;
                        border: none;
                    }
                </style>
                <button *ngIf="x.state==true" class="button satisfied">Treated</button> 
                <button *ngIf="x.state==false" class="button satisfied">In prgress</button>     
                      </td>
            </div>   </th>
        </ng-container>
       
        </table>
        </div>
    </div>
</div>
<!-- Contact End -->

