<div class="container-fluid bg-dark px-5 d-none d-lg-block">
  <div class="row gx-0">
      <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
          <div class="d-inline-flex align-items-center" style="height: 45px;">
              <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>Tunis Ariana</small>
              <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+012 345 6789</small>
              <small class="text-light"><i class="fa fa-envelope-open me-2"></i>MicroGrowth@gmail.com</small>
          </div>
      </div>
      <div class="col-lg-4 text-center text-lg-end">
          <div class="d-inline-flex align-items-center" style="height: 45px;">
              <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                      class="fab fa-twitter fw-normal"></i></a>
              <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                      class="fab fa-facebook-f fw-normal"></i></a>
              <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                      class="fab fa-linkedin-in fw-normal"></i></a>
              <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                      class="fab fa-instagram fw-normal"></i></a>
              <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i
                      class="fab fa-youtube fw-normal"></i></a>
          </div>
      </div>
  </div>
</div>
<!-- Topbar End -->


<!-- Navbar & Carousel Start -->
<div class="container-fluid position-relative p-0">
  <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
      <a routerLink="/homePage" class="navbar-brand p-0">
          <img src="../../assets/img/logo.png" alt="Image">

      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto py-0">
              <a routerLink="homePage" class="nav-item nav-link active">Home</a>
              <a href="complaint" class="nav-item nav-link">Contact Us</a>
              <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Credit</a>
                  <div class="dropdown-menu m-0">
                      <a routerLink="addCreditUser" class="dropdown-item">Add a credit</a>
                      <a routerLink="ListMyCreditsFrontComponent" class="dropdown-item">My Credits</a>
                      <a routerLink="listPacksCredits" class="dropdown-item">Pack Credit</a>
                      <a routerLink="SimulationCreditFrontComponent" class="dropdown-item">Credit Simulator</a>


                  </div>
              </div>
              <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Insurance</a>
                  <div class="dropdown-menu m-0">
                      <a href="" class="dropdown-item" routerLink="/check-insurance/">Check</a>
                      <a href="" class="dropdown-item" routerLink="/simulate-insurance/">Simulate</a>
                      <a href="" class="dropdown-item" routerLink="/Insurance/">Request</a>
                      <a href="" class="dropdown-item" routerLink="/Kpi-f/">Why us?</a>
                      <a href="" class="dropdown-item" routerLink="/agent/">Our Agent</a>
                  </div>
              </div>
              <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Investment</a>
                  <div class="dropdown-menu m-0">
                      <a href="" class="dropdown-item" routerLink="/investor">Investor</a>
                      <a href="" class="dropdown-item" routerLink="/project">Entrepreneur</a>
                      <a href="" class="dropdown-item" routerLink="/investinStock"> Stock</a>
                  </div>
              </div>
              <div  *ngIf="!isLoggedIn()" class="nav-item dropdown">
                <a routerLink="signin" class="nav-item nav-link">My banking account</a>
              </div>
              <div  *ngIf="(isLoggedIn())" class="nav-item dropdown">
                <a routerLink="user/bankingaccount" class="nav-item nav-link">My banking</a>
              </div>
              <a routerLink="publication" class="nav-item nav-link">Blog</a>
              <a routerLink="training" class="nav-item nav-link">Event</a>
              <a routerLink="chat" class="nav-item nav-link">chat</a>


              <div *ngIf="isLoggedIn()">
                  <a (click)="logout()" class="nav-item nav-link">logout</a>

              </div>
              <div *ngIf="isLoggedIn()">
                  <a class="nav-item nav-link" routerLink="user/profil" > <i class="bi bi-people" ></i></a>

              </div>
              <div *ngIf="!isLoggedIn()">
                  <a routerLink="signin" class="nav-item nav-link">Sign-In</a>
              </div>

          </div>
      </div>
  </nav>



  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/lib/wow/wow.min.js"></script>
  <script src="../../assets/lib/easing/easing.min.js"></script>
  <script src="../../assets/lib/waypoints/waypoints.min.js"></script>
  <script src="../../assets/lib/counterup/counterup.min.js"></script>
  <script src="../../assets/lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Template Javascript -->
  <script src="../../assets/js/main.js"></script>