<br>
<br>
<br>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Investment Table</h4>

            <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>amount</th>
                      <th>DURATION</th>
                      <th>METHOD</th>
                      <th>DATE</th>
                      <th>IDUSER</th>
                      <th>PROJECTID</th>
                      <th>QUANTITY</th>
                      

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let x of list" class="table table-striped">

                      <td>{{x.idInvestment}} </td>
                      <td>{{x.amountInves}}</td>
                      <td>{{x.duree}}</td>
                      <td>{{x.methodInvestissement}}</td>
                      <td>{{x.Date}}</td>
                      <td>{{x.iduser}}</td>
                      <td>{{x.projectid}}</td>
                      <td>{{x.quantity}}</td>
                      
                      <td>
                        <!-- Call to action buttons -->
                        <ul class="list-inline m-0">
                            <li class="list-inline-item">
                                <button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Add"><i class="fa fa-table"></i></button>
                            </li>
                            <li class="list-inline-item">
                                <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            </li>
                            <li class="list-inline-item">
                                <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                            </li>
                        </ul>
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>

        </div>
    </div>
</div>
