<div class="container-fluid position-relative p-0">

  <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
      <div class="row py-5">
          <div class="col-12 pt-lg-5 mt-lg-5 text-center">
              <h1 class="display-4 text-white animated zoomIn">Download</h1>

          </div>
      </div>
  </div>
  
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h2>Download successfull!</h2>
      <p>Your download was successful.</p>
      <button (click)="gotoHomepage()" type="submit" class="btn btn-primary" >Go back to homepage</button>
    </div>
  </div>
