<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Comment </h1>
            <a routerLink="/homePage" class="h5 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a routerLink="" class="h5 text-white">Blog </a>
        </div>
    </div>
</div>

<!-- Blog Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <!-- Blog list Start -->
            <div class="col-lg-8">
                <div class="row g-5">


                    <div class="col-md-12 wow slideInUp" data-wow-delay="0.1s">
                        <div class="blog-item bg-light rounded overflow-hidden">

                            <div class="blog-img position-relative overflow-hidden">

                                <img class="img-fluid " width="770px" style="margin-left: 40px;"
                                    src="../../assets/img/blog-1.jpg" alt="">
                                <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4"
                                    href="">UserStory</a>
                            </div>

                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3"><i class="far fa-user text-primary me-2"></i>{{pub.users.email}}</small>
                                    
                                    <small><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</small>
                                    <small class="me-3"> <div *ngIf="pub.users.email==userInfo.email">   <i class="bi bi-pencil-square"></i></div></small>

                                    </div>

                                <p>{{pub.text}}</p>
                                <div class="d-flex mb-3">
                                   
                                    <small class="me-3">{{pub.likes}} <a (click)="LikeFunction(pub.idPublication)"><i class="fas fa-thumbs-up">    </i> Like</a>   </small>
                                    <small class="me-3"> {{pub.dislikes}} <a (click)="DisLikeFunction(pub.idPublication)"><i class="fas fa-thumbs-down">    </i> Dislike</a>    </small>
                                </div>
                                <small><i class="bi bi-card-text"></i> Comments:</small>
                                <div *ngFor="let x of list">
                                  <div class="form-control border-2 bg-light px-4 py-3"> <small class="me-3"><i class="far fa-user text-primary me-3"></i>{{x.users.firstName}} :</small> 
                                    
                                    {{x.text}} </div>  
                                    
                                    <small class="me-3"> <a (click)="LikeFunction(x.idComment)"><i class="fas fa-thumbs-up">    </i> Like</a>   </small>
                                    <small class="me-3">  <a (click)="DisLikeFunction(x.idComment)"><i class="fas fa-thumbs-down">    </i> Dislike</a>    </small>
                                
                                </div>
                                <br>
                                <br>
                                <div class="col-lg-12 wow slideInUp " data-wow-delay="0.3s">
                                    <form #myForm="ngForm" (ngSubmit)="sendComment()">
                                        <div class="row g-3">
        
                                            <div class="col-12">
                                                <textarea class="form-control border-2 bg-light px-4 py-3" rows="4" placeholder="text" name="text"name="text" #text="ngModel" [(ngModel)]="comment.text"></textarea>
                                            </div>
                                            
                                            <div class="col-12">
                                                <div *ngIf="isLoggedIn()">
                                                    <button class="btn btn-primary w-100 py-3" type="submit" [disabled]="myForm.invalid">Send </button>
                                                </div>
                                                <div *ngIf="!isLoggedIn()">
                                                    <button class="btn btn-primary w-100 py-3" (click)="sendComment()" type="submit" routerLink="/signin">Send </button>
                                                  
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
    <!-- Blog list End -->
    
            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <!-- Search Form Start -->
                <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                    <div class="input-group">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h4 class="mb-0">write your own story</h4>

                            <div *ngIf="isLoggedIn()">
                                <button class="btn btn-primary px-4" routerLink="/addPublication">Click here</button>
                            </div>
                            <div *ngIf="!isLoggedIn()">
                                <button class="btn btn-primary px-4" routerLink="/signin">Click here</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Search Form End -->

                <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                    <div class="section-title section-title-sm position-relative pb-3 mb-4">
                        <h3 class="mb-0">Recent Post</h3>
                    </div>
                    <div *ngFor="let x of listpublication">
                        <div *ngIf="x.state">
                            <div class="d-flex rounded overflow-hidden mb-3">
                                <img class="img-fluid" src="../../../assets/img/blog-2.jpg"
                                    style="width: 100px; height: 100px; object-fit: cover;" alt="">
                                <a routerLink="/comment/{{x.idPublication}}" class="h5 fw-semi-bold bg-light rounded py-8 px-3 mb-6" wi>User story
                                    <br>
                                    {{x.users.firstName}} {{x.users.lasttName}}
                                </a>

                            </div>
                        </div>
                    </div>
                </div>





            </div>
            <div class="col-12 wow slideInUp" data-wow-delay="0.1s">
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-lg m-0">
                        <li class="page-item disabled">
                            <a class="page-link rounded-0" href="#" aria-label="Previous">
                                <span aria-hidden="true"><i class="bi bi-arrow-left"></i></span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link rounded-0" href="#" aria-label="Next">
                                <span aria-hidden="true"><i class="bi bi-arrow-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
        
            <!-- Sidebar End -->
        </div>
    </div>
</div>