

<div class="container-fluid position-relative p-0">
    
    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">Sign in</h1>
               
            </div>
        </div>
    </div>

    <!-- Contact Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Sign in</h5>
                <h1 class="mb-0">Fill the following fields </h1>
            </div>
        </div>
            <div style="margin-left: 350px;">
                <div class="col-lg-8 wow slideInUp " data-wow-delay="0.3s">
                    <form #myForm="ngForm" (ngSubmit)="login(myForm)">                        <div class="row g-3">
                           
                            <div class="col-md-12">
                                <input type="email" class="form-control border-0 bg-light px-4"  name="email" #email="ngModel" [(ngModel)]="user.email" placeholder="Your Email" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control border-0 bg-light px-4" name="password" #password="ngModel" [(ngModel)]="user.password" placeholder="Password" style="height: 55px;">
                            </div>
                            
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Sign in</button>
                               
                                
                            </div>
                        </div>
                    </form>
                </div>
                <h6 >don't have an account <a routerLink="/signup">Sign-up</a> </h6>
                
              <h6>forget Password  <a routerLink="/forgetPAssword">Click here</a></h6>
            </div>
        </div>
    <!-- Contact End -->


    

  