<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="table-responsive" style="font-size: small; zoom: 0.8;">
    <table class="table table-striped" >
        <thead >
        <tr>
          <th>Montant</th>
          <th>Interet</th>
          <th>Amortissement</th>
          <th>Mensualite</th>
        </tr>
        </thead>
        <tbody *ngFor="let l of list">
        <tr>
          <td> <span >{{l[0]}} </span>
            <br>
        </td> 
        <td> <span >{{l[1]}} </span>
            <br>
        </td>
        <td> <span >{{l[2]}} </span>
            <br>
        </td>
        <td> <span >{{l[3]}} </span>
            <br>
        </td>
           
                                                               
        </tr>
        </tbody>
    
      </table>

</div>
