<div class="container-fluid position-relative p-0">

    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">Profile</h1>

            </div>
        </div>
    </div>

    <div class="container bootstrap snippet">
        <div class="row">
           
        </div>
        <div class="row">
            <div class="col-sm-3"><!--left col-->


                <div class="text-center">
                    <div *ngIf="u!=null">
                        <img [src]="u.image.url" class="avatar img-circle img-thumbnail" alt="avatar">
                    </div>

                    <div>
                        <input type="file" multiple value="select" #selectfile (change)="onFileSelected($event)">
                    </div>
                </div>
                <br>
                <div *ngIf="userInfo.roles.name=='[ROLE_ADMIN]'">
                    <button class="btn btn-lg btn-primary" routerLink="/admin" type="submit"><i
                            class="glyphicon glyphicon-ok-sign"></i> Back to Dachborad</button>
                </div>
            </div><!--/col-3-->


            <div class="col-sm-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="home"> <div class="col-sm-10">
                        <h1  class="section-title text-center position-relative pb-3 mb-5 mx-auto" >Hello {{userInfo.lasttName}} {{userInfo.firstName}}</h1>
                    </div>
                        <hr>
                        <form class="form" action="##" method="post" id="registrationForm">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="col-xs-6">
                                            <label for="first_name">
                                                <h4>First name</h4>
                                            </label>
                                            <input type="text" class="form-control" id="first_name"
                                                value="{{userInfo.firstName}}" name="firstName" #firstName="ngModel"
                                                [(ngModel)]="userInfo.firstName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="col-xs-6">
                                            <label for="last_name">
                                                <h4>Last name</h4>
                                            </label>
                                            <input type="text" class="form-control" name="lasttName" id="last_name"
                                                value="{{userInfo.lasttName}}" #lasttName="ngModel"
                                                [(ngModel)]="userInfo.lasttName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="col-xs-6">
                                            <label for="phone">
                                                <h4>Phone</h4>
                                            </label>
                                            <input type="text" class="form-control" id="phone"
                                                value="{{userInfo.phone}}" name="phone" #phone="ngModel"
                                                [(ngModel)]="userInfo.phone">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label for="mobile">
                                                <h4>Cin</h4>
                                            </label>
                                            <input type="text" class="form-control" id="mobile" value="{{userInfo.cin}}"
                                                name="cin" #cin="ngModel" [(ngModel)]="userInfo.cin">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="col-xs-6">
                                            <label for="email">
                                                <h4>Email</h4>
                                            </label>
                                            <input type="email" class="form-control" id="email"
                                                value="{{userInfo.email}}" name="email" #email="ngModel"
                                                [(ngModel)]="userInfo.email">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="col-xs-6">
                                            <label for="email">
                                                <h4>Profession</h4>
                                            </label>
                                            <input type="text" class="form-control" id="location"
                                                value="{{userInfo.profession}}" name="profession" #profession="ngModel"
                                                [(ngModel)]="userInfo.profession">
                                        </div>
                                    </div>


                                </div>
                             </div>
                                <div class="col-12">
                                    <button class="btn btn-lg btn-primary" (click)="update()" type="submit"><i
                                            class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                </div>
                           
                        </form>

                        <hr>

                    </div><!--/tab-pane-->
                    <div class="tab-pane" id="messages">

                        <h2></h2>

                        <hr>
                        <form class="form" action="##" method="post" id="registrationForm">
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="first_name">
                                        <h4>First name</h4>
                                    </label>
                                    <input type="text" class="form-control" name="first_name" id="first_name"
                                        placeholder="first name" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="last_name">
                                        <h4>Last name</h4>
                                    </label>
                                    <input type="text" class="form-control" name="last_name" id="last_name"
                                        placeholder="last name" title="enter your last name if any.">
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="phone">
                                        <h4>Phone</h4>
                                    </label>
                                    <input type="text" class="form-control" name="phone" id="phone"
                                        placeholder="enter phone" title="enter your phone number if any.">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="mobile">
                                        <h4>Mobile</h4>
                                    </label>
                                    <input type="text" class="form-control" name="mobile" id="mobile"
                                        placeholder="enter mobile number" title="enter your mobile number if any.">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email">
                                        <h4>Email</h4>
                                    </label>
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="you@email.com" title="enter your email.">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email">
                                        <h4>Location</h4>
                                    </label>
                                    <input type="email" class="form-control" id="location" placeholder="somewhere"
                                        title="enter a location">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="password">
                                        <h4>Password</h4>
                                    </label>
                                    <input type="password" class="form-control" name="password" id="password"
                                        placeholder="password" title="enter your password.">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="password2">
                                        <h4>Verify</h4>
                                    </label>
                                    <input type="password" class="form-control" name="password2" id="password2"
                                        placeholder="password2" title="enter your password2.">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success" type="submit"> Save</button>
                                    
                                </div>
                            </div>
                        </form>

                    </div>