<br>
<br>
<br>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Credit Table</h4>
            <p class="card-description">
                Credit <code>.tables</code>
            </p>
            <div class="table-responsive" style="font-size: small; zoom: 0.8;">
                <table class="table table-striped" >
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>Amount Credit</th>
                      <th>Intrest Rate</th>
                      <th>Monthly Amount</th>
                      <th>Duration(years)</th>
                      <th>delete</th>
                    

                    
                    
                    </tr>
                  </thead>
                  <tbody>
                        <ng-container *ngFor="let c of credits">
                            <tr  class="table table-striped">
                      <td>{{c.users.lasttName}} {{c.users.firstName}}</td>
                      <td>{{c.amount_credit}}</td>
                      <td>{{c.intrestRaiting}}</td>
                      <td>{{c.monthlyAmount}}</td>
                      
                      <td>{{c.duree}}</td>
                      <td> <button  class="btn btn-primary" (click)="deleteCreditByAdmin(c.idCredit)"> delete</button></td>
                        
                        
                        
                          
                       
                        
                      
  
 


                      
                    </tr>
                </ng-container>
                  </tbody>
                </table>
              </div>
              
        </div>
    </div>
</div>