<div *ngIf="userIsAdmin=='null'">
  <!-- Display the admin component -->
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
<!-- Parent component's template -->
<div>
  <!-- Display the admin component -->
  <div class="container-scroller">
    <div class="row justify-content-center">
      <div class="col-md-2">
        <app-dashboard-back></app-dashboard-back>
      </div>
      <div class="col-md-10 ">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<div *ngIf="false">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>