<div class="row" id="salem">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card tale-bg">
            <div class="card-people mt-auto">
                <img src="../../../assets/Back/images/dashboard/people.svg" alt="people">
                <div class="weather-info">
                    <div class="d-flex">
                        <div>
                            <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>25<sup>C</sup></h2>
                        </div>
                        <div class="ml-2">
                            <h4 class="location font-weight-normal">Tunisia</h4>
                            <h6 class="font-weight-normal">Tunis</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin transparent">
        <div class="row">
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale">
                    <div class="card-body">
                        <p class="mb-4">Customer KPI Sales</p>
                        <p *ngIf="financialKPI1Result" class="fs-30 mb-2"> {{financialKPI1Result}}</p>
                        <p> (1year)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                    <div class="card-body">
                        <p class="mb-4">Cash Flow</p>
                        <p *ngIf="financialKPI2Result" class="fs-30 mb-2">{{financialKPI2Result}}</p>
                        <p>22.00% (30 days)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card card-light-blue">
                    <div class="card-body">
                        <p class="mb-4">Earnings Per Share</p>
                        <p *ngIf="financialKPI3Result" class="fs-30 mb-2">{{financialKPI3Result}}</p>
                        <p>2.00% (30 days)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card transparent">
                <div class="card card-light-danger">
                    <div class="card-body">
                        <p class="mb-4">Profit Margin</p>
                        <p *ngIf="financialKPI4Result" class="fs-30 mb-2">{{financialKPI4Result}}</p>
                        <p>0.22% (30 days)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>User</th>
                <th>Product</th>
                <th>Sale</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jacob</td>
                <td>Photoshop</td>
                <td class="text-danger"> 28.76% <i class="ti-arrow-down"></i></td>
                <td><label class="badge badge-danger">Pending</label></td>
            </tr>
            <tr>
                <td>Messsy</td>
                <td>Flash</td>
                <td class="text-danger"> 21.06% <i class="ti-arrow-down"></i></td>
                <td><label class="badge badge-warning">In progress</label></td>
            </tr>
            <tr>
                <td>John</td>
                <td>Premier</td>
                <td class="text-danger"> 35.00% <i class="ti-arrow-down"></i></td>
                <td><label class="badge badge-info">Fixed</label></td>
            </tr>
            <tr>
                <td>Peter</td>
                <td>After effects</td>
                <td class="text-success"> 82.00% <i class="ti-arrow-up"></i></td>
                <td><label class="badge badge-success">Completed</label></td>
            </tr>
            <tr>
                <td>Dave</td>
                <td>53275535</td>
                <td class="text-success"> 98.05% <i class="ti-arrow-up"></i></td>
                <td><label class="badge badge-warning">In progress</label></td>
            </tr>
        </tbody>
    </table>
</div>




<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Doughnut chart</h4>
            <canvas id="doughnutChart"></canvas>
        </div>
    </div>
</div>
<div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Pie chart</h4>
            <canvas id="pieChart"></canvas>
        </div>
    </div>
</div>


<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Bar chart</h4>
            <canvas id="barChart"></canvas>
        </div>
    </div>
</div>