<div class="container-fluid position-relative p-0">

    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">Why US</h1>

            </div>
        </div>
    </div>
</div>



<div class="container-fluid facts py-5 pt-lg-0" id="bob">
    <div class="container py-5 pt-lg-0">
        <div class="row gx-0">
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                    <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                        <i class="fa fa-users text-primary"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white mb-0">Positive Feedbacks</h5>
                        <h1 class="text-white mb-0" data-toggle="counter-up">164</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
                <div class="bg-light shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                        <i class="fa fa-check text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-primary mb-0">Insured Users</h5>
                        <h1 class="mb-0" data-toggle="counter-up">2308</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                    <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                        <i class="fa fa-award text-primary"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white mb-0">Insurance Strategic Partners</h5>
                        <h1 class="text-white mb-0" data-toggle="counter-up">213</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>












<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p class="card-title">Customers'KPI</p>
                </div>
                <p class="font-weight-500"> Satisfaction Rate </p>
                <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
                <div style="position: relative; height: 300px;">
                    <canvas #pieChart style="position: absolute;  left: 500; width: 100%; height: 100%;"></canvas>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p class="card-title">Policy Retention Rate</p>
                </div>
                <p class="font-weight-500"> PPR KPI </p>
                <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
                <div style="position: relative; height: 300px;">
                    <canvas #doughnutChart style="position: absolute;  left: 500; width: 100%; height: 100%;"></canvas>

                </div>
            </div>
        </div>
    </div>
</div>
<button class="chatbot-btn" (click)="toggleChatbot()">
    <i class="fa fa-comment"></i>
</button>


<div class="agent chatbot-container" class="" *ngIf="showChatbot">
    <iframe allow="microphone;" width="350" height="430"
        src="https://console.dialogflow.com/api-client/demo/embedded/cee7afee-88b3-4e34-b066-18da7f42abeb">
    </iframe>
</div>