<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<div class="container my-4">
  <h1>Bank Account Information</h1>
  <div class="row mt-4">
    <div class="col-md-4">
      <h4>Account Details</h4>
      <div class="row">
        <div class="col-md-12 mb-3">
          <label>Amount:</label>
          <label>{{ bankAccount?.amount }}</label>
        </div>
        <div class="col-md-12 mb-3">
          <label>Cover:</label>
          <label>{{ bankAccount?.cover }}</label>
        </div>
        <div class="col-md-12 mb-3">
          <label>Current Bank Transfer Per Day:</label>
          <label>{{ bankAccount?.current_BANKTRANSFER_PER_DAY }}</label>
        </div>
        <div class="col-md-12 mb-3">
          <label>Current Card Payment Per Day:</label>
          <label>{{ bankAccount?.current_CARDPAYMENT_PER_DAY }}</label>
        </div>
        <div class="col-md-12 mb-3">
          <label>Current Withdrawal Per Day:</label>
          <label>{{ bankAccount?.current_WITHDRAWAL_PER_DAY }}</label>
        </div>
        <div class="col-md-12 mb-3">
          <label>Max Bank Transfer Per Day:</label>
          <label>{{ bankAccount?.max_BANKTRANSFER_PER_DAY }}</label>
        </div>
        <div class="col-md-12 mb-3">
          <label>Max Card Payment Per Day:</label>
          <label>{{ bankAccount?.max_CARDPAYMENT_PER_DAY }}</label>
        </div>
        <div class="col-md-12 mb-3">
          <label>Max Occurrence Per Day:</label>
          <label>{{ bankAccount?.max_OCC_PER_DAY }}</label>
        </div>
        <div class="col-md-12 mb-3">
          <label>Max Withdrawal Per Day:</label>
          <label>{{ bankAccount?.max_WITHDRAWL_PER_DAY }}</label>
        </div>
        <div class="col-md-12 mb-3">
          <label>RIB:</label>
          <label>{{ bankAccount?.rib }}</label>
        </div>
        <div class="col-md-12 mb-3">
          <label>Type Account:</label>
          <label>{{ bankAccount?.typeAccount }}</label>
        </div>
      </div>
      <div class="mt-4">

        <button (click)="gotoPayment()" type="submit" class="btn btn-primary d-inline-block">Make Transaction</button>
        <button (click)="gotoHistory()" type="submit" class="btn btn-primary d-inline-block ml-2">Transaction History</button>
      </div>
    </div>
  </div>
</div>
