<br>
<br>
<br>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">USER Table</h4>
            <p class="card-description">
                userAcount <code>.tables</code>
            </p>
            <div style="margin-left: 350px;">
                <div class="col-lg-8 wow slideInUp " data-wow-delay="0.3s">
                    <form #myForm="ngForm" (ngSubmit)="add()">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label>Title</label>
                                <input type="text" class="form-control border-0 bg-light px-4" placeholder="title" name="title" #title="ngModel" [(ngModel)]="training.title" >
                            </div>
                            <div class="col-md-6">
                                <label>Number of place</label>
                                <input type="number" class="form-control border-0 bg-light px-4" placeholder="nbrOfPlace" name="nbrOfPlace" #nbrOfPlace="ngModel" [(ngModel)]="training.nbrOfPlace" >
                            </div>
                            <div class="col-12">
                                <label>Price</label>
                                <input type="number" class="form-control border-0 bg-light px-4"  placeholder="price" name="price" #price="ngModel"[(ngModel)]="training.price"   >
                            </div>
                            <div class="col-md-6">
                                <label>Start Date</label>
                                <input type="date" class="form-control border-0 bg-light px-4" placeholder="startDate" name="startDate" #startDate="ngModel" [(ngModel)]="training.startDate" >
                            </div>
                            <div class="col-md-6">
                                <label>Finish Date</label>
                                <input type="date" class="form-control border-0 bg-light px-4"  placeholder="finishdate" name="finishdate" #finishdate="ngModel" [(ngModel)]="training.finishdate">
                            </div>
                            <div class="col-12">
                                <label>Subject</label>
                                <textarea class="form-control border-0 bg-light px-4 py-3" rows="4" placeholder="text" name="text" #text="ngModel" [(ngModel)]="training.subject"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit" (click)="add()" routerLink="/admin/listtrainingback" >retour </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
              
        </div>
    </div>
