<br>
<br>
<br>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Interview Table</h4>
            <p class="card-description">
                Interview <code>.tables</code>
            </p>
            <div class="table-responsive" style="font-size: small; zoom: 0.8;">
                <table class="table table-striped" >
                  <thead>
                    <tr>
                      <th>User</th>
                     
                      <th>date</th>
                      
                    

                    
                    
                    </tr>
                  </thead>
                  <tbody>
                        <ng-container *ngFor="let c of intreview">
                            <tr  class="table table-striped">
                      <td>{{c.idIntreview}}</td>
                      <td>{{c.dateIntreview}}</td>
                      
                      
                        
                        
                        
                          
                       
                        
                      
  
 


                      
                    </tr>
                </ng-container>
                  </tbody>
                </table>
              </div>
              
        </div>
    </div>
</div>