<div class="container-fluid position-relative p-0">

    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">Stimulation</h1>

            </div>
        </div>
    </div>
    <h4 class="card-title">Insurance Request Test</h4>
    <form class="forms-sample" #form1="ngForm" (ngSubmit)="onSubmitForm1()">
        <div class="form-group row">
            <label for="exampleInputMobile" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="exampleInputMobile" placeholder="please enter your Name"
                    [(ngModel)]="name" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Last Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="exampleInputPassword2"
                    placeholder="please enter your L.Name" [(ngModel)]="lastName" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Income</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" id="exampleInputUsername2"
                    placeholder="please enter your Income" [(ngModel)]="income" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Amount Of Debt</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" id="exampleInputEmail2" placeholder="please enter your Debt"
                    [(ngModel)]="debt" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <button type="submit" class="btn btn-primary mr-2">Test</button>
                <button type="button" class="btn btn-light" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>
    <p *ngIf="displayMessage1" class="mt-3">{{ message }}</p>





    <h4 class="card-title">Simulate your Insurance</h4>
    <form class="forms-sample" #form2="ngForm" (ngSubmit)="onSubmitForm2()">
        <div class="form-group row">
            <label for="exampleInputMobile" class="col-sm-3 col-form-label">Number Of years</label>
            <div class="col-sm-9">
                <input type="date" class="form-control" id="exampleInputMobile"
                    placeholder="please enter the number of years" [(ngModel)]="name" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">End Date</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="exampleInputPassword2"
                    placeholder="please enter your out date" [(ngModel)]="lastName" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Amount</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" id="exampleInputUsername2"
                    placeholder="please enter the want-to-insure amount" [(ngModel)]="income" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Activity Sector</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" id="exampleInputEmail2"
                    placeholder="please enter the wanted A.sector" [(ngModel)]="debt" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <button (click)="onSubmitForm2()" class="btn btn-success mr-2">Simulate</button>
                <button type="button" class="btn btn-light" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>

    <div *ngIf="displayMessage2">
        <p>Total amount: {{totalAmount}}</p>
        <p>Monthly payment: {{monthlyPayment}}</p>
    </div>