

<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Training </h1>
            <a href="#" class="h5 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a routerLink="" class="h5 text-white">Training </a>
        </div>
    </div>
</div>
<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">Detail Training</h5>
                    <h1 class="mb-0">{{training.title}}</h1>
                </div>
                <p class="mb-4">{{training.subject}}</p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Start:{{training.startDate}}</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Finish:{{training.finishdate}}</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>{{training.price}}$/H</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Places:{{training.nbrOfPlace}}</h5>
                    </div>
                </div>
              
                <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
                    <div>
                        <button class="btn btn-primary" (click)="InteresseFunction(training.idTraining)">
                            <i class="fa fa-hand-o-up" >{{training.nombreInteresse}}</i> Intéressé
                          </button>
                    </div>
                    <div>
                        <button class="btn btn-primary" (click)="ParticiperFunction(training.idTraining) " >
                            <i class="fa fa-hand-o-up">{{training.nombreParticiper}}</i> Particiter
                          </button>
                    </div>
                    
                </div> <div>
                    <span class="star" *ngFor="let star of stars" (click)="rate(star)">
                      <i class="fa fa-star" [class.filled]="star <= currentRating"></i>
                    </span>
                    
                  </div>
                </div>
                
            
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="../../assets/img/blog-1.jpg" style="object-fit: cover;">
                </div>
            </div>

        </div>


    </div>
</div>
<!-- About End -->